<h2>{{category.name}}</h2>

<div id="news">
    <a href="{{article.url}}" target="_blank">
        <h3>{{article.title}}</h3>
        <img src="{{article.urlToImage}}">
    </a>
    <span *ngIf="article.author">Author: {{article.author}}</span>
</div>

<main>
    <router-outlet></router-outlet>

    <div id="categories" *ngIf="category">
        <div *ngFor="let thread of category.threads">
            <a [routerLink]="['threads', thread.id]">
                <p>{{thread.title}}</p>
                <p> | {{thread.datetime | date: 'dd.MM.yyyy, h:mm a'}}</p>
                <br>
            </a>
        </div>
    </div>
</main>