
#news {
    max-width: 30%;
    float: right;
    position: relative;
    right: 5%;
}

#news span {
    display: block;
    margin-top: 8px;
}

img {
    display:block;
    margin:auto;
    width: 85%;
}


#categories {
    width: 80%;
    margin: 5px auto;
}

#categories p {
    display: inline;
}

#categories > div {
    margin: 5px 0;
    font-size: large;
    background-color: black;
    text-align: center;
}
