<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div collapse navbar-collapse>
        <ul class="navbar-nav mr-auto">
            <li class="navbar-header"><a class="navbar-brand" [routerLink]="['']">Foroom</a></li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">Categories
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li *ngFor="let cat of categories" class="nav-item" [ngClass]="getActiveClass('/')">
                        <a class="nav-link" [routerLink]="['/categories', cat.id]">{{cat.name}}</a></li>
                </ul>
            </li>

            <li class="nav-item" [ngClass]="getActiveClass('/profile')">
                <a class="nav-link" [routerLink]="['/profile']">Profile</a></li>
            <li class="nav-item">
                <a class="nav-link" (click)="logout()" *ngIf="authenticated">Logout</a></li>
            <li class="nav-item" [ngClass]="getActiveClass('/login')">
                <a class="nav-link" (click)="logout()" *ngIf="!authenticated">Login</a></li>
        </ul>
    </div>
</nav>
