<div>
    <h3>{{thread.title}}</h3>
    <span>by {{thread.user.username}}</span>
</div>
<hr>
<div *ngIf="showFailed" class="alert alert-danger" role="alert">
    Action failed.
</div>
<div>
    <div *ngFor="let comm of thread.comments">
        <span>{{comm.user.username}}, {{comm.datetime | date: 'd.M.yy, h:mm a'}}</span>

        <p *ngIf="editingId!=comm.id">{{comm.content}}</p>
        <textarea *ngIf="editingId==comm.id" [(ngModel)]="comm.content"></textarea>

        <button class="btn btn-danger" *ngIf="currentUser.id == comm.user.id"
            (click)="deleteComment(comm.id)">Delete</button>
        <button class="btn btn-warning" *ngIf="editingId != comm.id && currentUser.id == comm.user.id"
            (click)="editingId=comm.id; showFailed=false">Edit</button>
        <button class="btn btn-warning" *ngIf="editingId == comm.id && currentUser.id == comm.user.id"
            (click)="editComment()">Done editing</button>
    </div>
</div>